#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.ui.card {
  width: 400px !important;
  background: rgb(255, 255, 255, 0.5) !important;
}
#temperature {
  margin: 10px 0;
  font-size: 2em;
}
#weather-icon {
  width: 40%;
}
#details {
  margin: 0 auto;
  width: 80%;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
#footer {
  font-size: 0.50em;
  margin: 20px 0 10px;
}
i.icon {
  margin: 0 10px !important;
}
.choice {
  padding: 0.25em 0;
  cursor: pointer;
  border-top: 1px solid #c0cacd;
}
.daily-fcast, .hourly-fcast {
  padding: 10px 20px;
  border-bottom: 1px solid silver;
}
.nav-buttons {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}
.nav-btn {
  cursor: pointer;
}
.weather-info {
  display: grid;
  grid-template-columns: 1fr 1fr 50%;
  margin: 10px 0;
  align-items: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
