#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.ui.card {
  width: 400px !important;
  background: rgb(255, 255, 255, 0.5) !important;
}
.heading {
  display: flex;
  justify-content: space-between;
  padding: 1em 2em !important;
}
#header h1 {
  font-size: 2.5em;
}
#header h4 {
  font-size: 1.25em;
}
#search-page-body {
  background: linear-gradient(#ffee00, #ffc400);
}
#search-page-body > #root {
  margin: -10em auto 0;
}
#city-input {
  width: 12.5em;
  font-size: 1.5em;
  border-radius: 0.25em;
}
.city-choice {
  cursor: pointer;
  font-size: 0.75em;
}
.city-choice:hover {
  background-color: #a5a5a5;
}
#city-submit {
  vertical-align: top;
  margin-left: 0.5em;
  padding: 0.5em 1.25em;
  background: #ff4500;
  color: #ffffff;
}
.content.heading::after {
  display: none !important;
}
.subheader {
  font-size: 0.75em;
  color: #a9a9a9;
}
#weather-body {
  height: 100% !important;
}
#temperature {
  margin: 10px 0;
  font-size: 2.5em;
}
#weather-icon {
  width: 4em;
  margin: 1em 0;
}
#details {
  margin: 0 auto;
  width: 80%;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
  font-weight: bold;
}
.rise-and-set {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#footer {
  font-size: 0.50em;
  margin: 20px 0 10px;
}
i.icon {
  margin: 0 10px !important;
}
.options {
  display: flex;
  font-size: 0.75em;
}
.choice {
  padding: 0.5em 0.25em;
  width: 25%;
  cursor: pointer;
  border-right: 1px solid #c0cacd;
}
i.icon {
  margin: 0 0 0 10px !important;
}
.choice:last-of-type {
  border-right: none;
}
#hourly-and-daily {
  height: fit-content !important;
}
.hourly-fcast {
  border-bottom: 5px solid #a09f9f;
}
.daily-fcast, .hourly-fcast:first-of-type {
  border-top: 5px solid #a09f9f;
}
.new-day {
  font-weight: bold;
  text-align: left;
  border-bottom: 1px solid #c0c0c0;
  padding-left: 1em;
}
.nav-buttons {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 0.5em;
}
.nav-btn {
  cursor: pointer;
}
i.arrow {
  margin: 0 0.5em !important;
}
i.angle {
  margin: 0 !important;
  cursor: pointer;
  font-size: 1.5em !important;
}
/* i.long.alternate {
  font-size: 1.5em !important;
} */
.active {
  transform: rotate(90deg);
}
.weather-info {
  display: grid;
  grid-template-columns: 1.5em 1fr 1fr 1fr 45%;
  margin: 10px 0;
  align-items: center;
  padding-left: 0.75em;
}
.weather-condition, .main-info {
  font-size: 0.75em;
}
.extra-info {
  background-color: #bdbdbd;
  display: none;
}
.extra-info > div {
  width: 50%
}
.extra-info > div > table {
  width: 90%;
  margin: 0 auto;
  font-size: 0.75em;
}
.flex-displayed {
  display: flex;
}
.low-temp {
  color: #5e5e5e;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
